<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>singlepage</title>
    <link rel="stylesheet" href="/css/header.css">

</head>
<body>
    <%- include('header') %>
   <form action="/blog/singleBlog" method="post" id="Form">
    <div id="blog">
        <img id="img" src=" <%= singleBlog.image %> "alt="">
        <h3 id="title"><%= singleBlog.title %></h3>
        <span id="category"><%= singleBlog.category %></span>
        <p id="content"> <%= singleBlog.content %></p>
        <button id="like">Like</button><br><br>
        <span id="count">0</span>
        <form action="/blog/comment/:id" id="comment" method="post">
            <input type="text" placeholder="Add a comment" id="input" name="text">
            <button class="button">submit</button>
        </form> 
        <div id="comment"></div>
    </div>
   </form>
</body>
<script src="../public/js/singleblog.js">
</script>
</html>


